/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,  footer, header, hgroup, 
menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display:block;
}
nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }


body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

body, select, input, textarea {   color: #444; }
h1,h2,h3,h4,h5,h6 { font-weight: bold; }
html { overflow-y: scroll; }

a:hover, a:active { outline: none; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

nav ul, nav li { margin: 0; } 
small { font-size: 85%; }
strong, th { font-weight: bold; }
td, td img { vertical-align: top; } 
sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }
pre {  padding: 15px;  white-space: pre;  white-space: pre-wrap;  white-space: pre-line;  word-wrap: break-word; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type=button], input[type=submit], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px;  -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red;  box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 
a:link { -webkit-tap-highlight-color: #FF5E99; } 

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; } 
.visuallyhidden { position: absolute !important; clip: rect(1px 1px 1px 1px);  clip: rect(1px, 1px, 1px, 1px); }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after {  content: "\0020"; display: block; height: 0; visibility: hidden;	 } 
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

@media all and (orientation:portrait) { 
  
}

@media all and (orientation:landscape) { 
  
}

@media screen and (max-device-width: 480px) {
  
  
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
  * { background: transparent !important; color: #444 !important; text-shadow: none !important; }
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a:after { content: " (" attr(href) ")"; } 
  abbr:after { content: " (" attr(title) ")"; }
  .ir a:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }  
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}


#readme{font:13.34px helvetica,arial,freesans,clean,sans-serif; position: relative; top: 190px; left: 150px; width: 70%;}
#readme.announce{margin:1em 0;}
#readme span.name{font-size:140%;padding:.8em 0;}
#readme div.plain,#readme div.wikistyle{background-color:#f8f8f8;padding:.7em;}
#readme.announce div.plain,#readme.announce div.wikistyle{border:1px solid #e9e9e9;}
#readme.blob div.plain,#readme.blob div.wikistyle{border-top:none;}
#readme div.plain pre{font-family:'Bitstream Vera Sans Mono','Courier',monospace;font-size:85%;color:#444;white-space:pre-wrap;word-wrap:break-word;width:74em;}
#missing-readme{font:13.34px helvetica,arial,freesans,clean,sans-serif;text-align:center;background-color:#ffc;padding:.7em;border:1px solid #ccc;}
#readme.rst .borderless,#readme.rst table.borderless td,#readme.rst table.borderless th{border:0;}
#readme.rst table.borderless td,#readme.rst table.borderless th{padding:0 .5em 0 0!important;}
#readme.rst .first{margin-top:0!important;}
#readme.rst .last,#readme.rst .with-subtitle{margin-bottom:0!important;}
#readme.rst .hidden{display:none;}
#readme.rst a.toc-backref{text-decoration:none;color:black;}
#readme.rst blockquote.epigraph{margin:2em 5em;}
#readme.rst dl.docutils dd{margin-bottom:.5em;}
#readme.rst div.abstract{margin:2em 5em;}
#readme.rst div.abstract p.topic-title{font-weight:bold;text-align:center;}
#readme.rst div.admonition,#readme.rst div.attention,#readme.rst div.caution,#readme.rst div.danger,#readme.rst div.error,#readme.rst div.hint,#readme.rst div.important,#readme.rst div.note,#readme.rst div.tip,#readme.rst div.warning{margin:2em;border:medium outset;padding:1em;}
#readme.rst div.admonition p.admonition-title,#readme.rst div.hint p.admonition-title,#readme.rst div.important p.admonition-title,#readme.rst div.note p.admonition-title,#readme.rst div.tip p.admonition-title{font-weight:bold;font-family:sans-serif;}
#readme.rst div.attention p.admonition-title,#readme.rst div.caution p.admonition-title,#readme.rst div.danger p.admonition-title,#readme.rst div.error p.admonition-title,#readme.rst div.warning p.admonition-title{color:red;font-weight:bold;font-family:sans-serif;}
#readme.rst div.dedication{margin:2em 5em;text-align:center;font-style:italic;}
#readme.rst div.dedication p.topic-title{font-weight:bold;font-style:normal;}
#readme.rst div.figure{margin-left:2em;margin-right:2em;}
#readme.rst div.footer,#readme.rst div.header{clear:both;font-size:smaller;}
#readme.rst div.line-block{display:block;margin-top:1em;margin-bottom:1em;}
#readme.rst div.line-block div.line-block{margin-top:0;margin-bottom:0;margin-left:1.5em;}
#readme.rst div.sidebar{margin:0 0 .5em 1em;border:medium outset;padding:1em;background-color:#ffe;width:40%;float:right;clear:right;}
#readme.rst div.sidebar p.rubric{font-family:sans-serif;font-size:medium;}
#readme.rst div.system-messages{margin:5em;}
#readme.rst div.system-messages h1{color:red;}
#readme.rst div.system-message{border:medium outset;padding:1em;}
#readme.rst div.system-message p.system-message-title{color:red;font-weight:bold;}
#readme.rst div.topic{margin:2em;}
#readme.rst h1.section-subtitle,#readme.rst h2.section-subtitle,#readme.rst h3.section-subtitle,#readme.rst h4.section-subtitle,#readme.rst h5.section-subtitle,#readme.rst h6.section-subtitle{margin-top:.4em;}
#readme.rst h1.title{text-align:center;}
#readme.rst h2.subtitle{text-align:center;}
#readme.rst hr.docutils{width:75%;}
#readme.rst .align-left{text-align:left;}
#readme.rst .align-center{clear:both;text-align:center;}
#readme.rst .align-right{text-align:right;}
#readme.rst div.align-right{text-align:left;}
#readme.rst ol.simple,#readme.rst ul.simple{margin-bottom:1em;}
#readme.rst ol.arabic{list-style:decimal;}
#readme.rst ol.loweralpha{list-style:lower-alpha;}
#readme.rst ol.upperalpha{list-style:upper-alpha;}
#readme.rst ol.lowerroman{list-style:lower-roman;}
#readme.rst ol.upperroman{list-style:upper-roman;}
#readme.rst p.attribution{text-align:right;margin-left:50%;}
#readme.rst p.caption{font-style:italic;}
#readme.rst p.credits{font-style:italic;font-size:smaller;}
#readme.rst p.label{white-space:nowrap;}
#readme.rst p.rubric{font-weight:bold;font-size:larger;color:maroon;text-align:center;}
#readme.rst p.sidebar-title{font-family:sans-serif;font-weight:bold;font-size:larger;}
#readme.rst p.sidebar-subtitle{font-family:sans-serif;font-weight:bold;}
#readme.rst p.topic-title{font-weight:bold;}
#readme.rst pre.address{margin-bottom:0;margin-top:0;font:inherit;}
#readme.rst pre.literal-block,#readme.rst pre.doctest-block{margin-left:2em;margin-right:2em;}
#readme.rst span.classifier{font-family:sans-serif;font-style:oblique;}
#readme.rst span.classifier-delimiter{font-family:sans-serif;font-weight:bold;}
#readme.rst span.interpreted{font-family:sans-serif;}
#readme.rst span.option{white-space:nowrap;}
#readme.rst span.pre{white-space:pre;}
#readme.rst span.problematic{color:red;}
#readme.rst span.section-subtitle{font-size:80%;}
#readme.rst table.citation{border-left:solid 1px gray;margin-left:1px;}
#readme.rst table.docinfo{margin:2em 4em;}
#readme.rst table.docutils{margin-top:.5em;margin-bottom:.5em;}
#readme.rst table.footnote{border-left:solid 1px black;margin-left:1px;}
#readme.rst table.docutils td,#readme.rst table.docutils th,#readme.rst table.docinfo td,#readme.rst table.docinfo th{padding-left:.5em;padding-right:.5em;vertical-align:top;}
#readme.rst table.docutils th.field-name,#readme.rst table.docinfo th.docinfo-name{font-weight:bold;text-align:left;white-space:nowrap;padding-left:0;}
#readme.rst h1 tt.docutils,#readme.rst h2 tt.docutils,#readme.rst h3 tt.docutils,#readme.rst h4 tt.docutils,#readme.rst h5 tt.docutils,#readme.rst h6 tt.docutils{font-size:100%;}
#readme.rst ul.auto-toc{list-style-type:none;}

body {
	padding: 10px;
	background: #f8f8f8 url('https://github.com/hij1nx/weld/raw/master/documentation-assets/header.png') no-repeat;
}

#logo {
	position: absolute;
	top: -18px;
	left: -10px;
}

h2 {
	margin: 8px 0 8px 0px;
}